html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Raleway', sans-serif; 
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

h2{
    font-size: 22px;
}

h3{
    font-size: 18px;
}